You must set up a project in the Google Cloud Console and activate the Google Sheets API before you can build the `credentials.json` file for the API. Take these actions:

### Step 1: Create a Project in Google Cloud Console

1. Go to the [Google Cloud Console](https://console.cloud.google.com/).
2. Click on the project dropdown at the top of the page, then click on "New Project."
3. Enter a name for your project and click "Create."

### Step 2: Enable the Google Sheets API

1. In the Cloud Console, click on beside Google Cloud logo using the left sidebar.
2. Click on More Products Dropdown and select APIs and Services and then select ENABLE APIS AND SERVICES.
3. Search for "Google Sheets API" in the search bar.
4. Select "Google Sheets API" from the results.
5. Click the "Enable" button.

### Step 3: Create Service Account Credentials

1. In the Cloud Console, navigate to "APIs & Services" > "Credentials" using the left sidebar.
2. Click on the "Create Credentials" dropdown and select "Service account"
3. Under "Service account," create a new service account like "Google sheet API".
4. For "Role," choose "Project" > "Editor" to give the service account access to your entire project.
5. Once the Service account is created, using the left sidebar, click on the "Service account logo" and you will see the created service account. 
6. Click on the action button and select "manage keys"
7. Click the "Create" button choosing the "Key type" as choose JSON. This will download a JSON file containing your credentials.

### Step 4: Save and Use Your Credentials

In the directory containing your Python script, save the downloaded JSON file as `credentials.json`. This file is what your Python script will use to authenticate itself.

Since your `credentials.json` file includes important information, make sure you keep it private and don't share it with the public.

In [6]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

# Setting up Google Sheets API credentials
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)
client = gspread.authorize(creds)

# Opening the Google Sheet by title
spreadsheet_title = "penguins_size"
spreadsheet = client.open(spreadsheet_title)

# Selecting the specific worksheet
worksheet = spreadsheet.get_worksheet(0)  # Index 0 represents the first worksheet

# Getting all values from the worksheet
data = worksheet.get_all_values()

# Creating dataframe
df = pd.DataFrame(data[1:], columns=data[0])
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18,195,3250,FEMALE
3,Adelie,Torgersen,NA,NA,NA,NA,NA
4,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NA,NA,NA,NA,NA
340,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
342,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213,5400,MALE