You must set up a project in the Google Cloud Console and activate the Google Sheets API before you can build the `credentials.json` file for the API. Take these actions:

### Step 1: Create a Project in Google Cloud Console

1. Go to the [Google Cloud Console](https://console.cloud.google.com/).
2. Click on the project dropdown at the top of the page, then click on "New Project."
3. Enter a name for your project and click "Create."

### Step 2: Enable the Google Sheets API

1. In the Cloud Console, click on beside Google Cloud logo using the left sidebar.
2. Click on More Products Dropdown and select APIs and Services and then select ENABLE APIS AND SERVICES.
3. Search for "Google Sheets API" in the search bar.
4. Select "Google Sheets API" from the results.
5. Click the "Enable" button.

### Step 3: Create Service Account Credentials

1. In the Cloud Console, navigate to "APIs & Services" > "Credentials" using the left sidebar.
2. Click on the "Create Credentials" dropdown and select "Service account"
3. Under "Service account," create a new service account like "Google sheet API".
4. For "Role," choose "Project" > "Editor" to give the service account access to your entire project.
5. Once the Service account is created, using the left sidebar, click on the "Service account logo" and you will see the created service account. 
6. Click on the action button and select "manage keys"
7. Click the "Create" button choosing the "Key type" as choose JSON. This will download a JSON file containing your credentials.

### Step 4: Save and Use Your Credentials

In the directory containing your Python script, save the downloaded JSON file as `credentials.json`. This file is what your Python script will use to authenticate itself.

Since your `credentials.json` file includes important information, make sure you keep it private and don't share it with the public.

Share the spreedsheet file with client_email from `credentials.json` using the share button of the google spreedsheet.

In [8]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

# Setting up Google Sheets API credentials
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)
client = gspread.authorize(creds)

# Opening the Google Sheet by title
spreadsheet_title = "Result_Students"
spreadsheet = client.open(spreadsheet_title)

# Selecting the specific worksheet
worksheet = spreadsheet.get_worksheet(0)  # Index 0 represents the first worksheet

# Getting all values from the worksheet
data = worksheet.get_all_values()
print(data)

[['Name', 'Roll', 'Subject', 'Marks'], ['Ali Mohammad', '101', 'Math ', '85'], ['Ali Mohammad', '101', 'Physics', '78'], ['Ali Mohammad', '101', 'Biology', '92'], ['Ali Mohammad', '101', 'Geography', '75'], ['Ali Mohammad', '101', 'Computer Science', '88'], ['Ali Mohammad', '101', 'Islamic History', '87'], ['Ali Mohammad', '101', 'Chemistry', '89'], ['Ali Mohammad', '101', 'English', '95']]

In [9]:
# Adding new data
new_data = [
    ['Ahmed', '102', 'Math ', '86'],
    ['Ahmed', '102', 'Physics', '84'],
    ['Ahmed', '102', 'Biology', '82'],
    ['Ahmed', '102', 'Geography', '86'],
    ['Ahmed', '102', 'Computer Science', '84'],
    ['Ahmed', '102', 'Islamic History', '89'],
    ['Ahmed', '102', 'Chemistry', '89'],
    ['Ahmed', '102', 'English', '85']
]

worksheet.append_rows(new_data)

print("Data added successfully.")
data = worksheet.get_all_values()
print(data)

Data added successfully.
[['Name', 'Roll', 'Subject', 'Marks'], ['Ali Mohammad', '101', 'Math ', '85'], ['Ali Mohammad', '101', 'Physics', '78'], ['Ali Mohammad', '101', 'Biology', '92'], ['Ali Mohammad', '101', 'Geography', '75'], ['Ali Mohammad', '101', 'Computer Science', '88'], ['Ali Mohammad', '101', 'Islamic History', '87'], ['Ali Mohammad', '101', 'Chemistry', '89'], ['Ali Mohammad', '101', 'English', '95'], ['Ahmed', '102', 'Math ', '86'], ['Ahmed', '102', 'Physics', '84'], ['Ahmed', '102', 'Biology', '82'], ['Ahmed', '102', 'Geography', '86'], ['Ahmed', '102', 'Computer Science', '84'], ['Ahmed', '102', 'Islamic History', '89'], ['Ahmed', '102', 'Chemistry', '89'], ['Ahmed', '102', 'English', '85']]

In [10]:
# Data to be updated
update_data = ['Ahmed', '102', 'Computer Science', '94']

# Manually specifying column indices based on the order of columns
name_index = 1
roll_index = 2
subject_index = 3

# Iterating through the rows and find the matching one
for row_number, row in enumerate(worksheet.get_all_values(), start=1):
    if (
        row[name_index - 1] == update_data[0]
        and row[roll_index - 1] == update_data[1]
        and row[subject_index - 1] == update_data[2]
    ):
        # Updating the data in the specified cell
        worksheet.update("D{}".format(row_number), [[update_data[3]]])  # Updating the Marks to 94
        print("Data updated successfully.")
        break

data = worksheet.get_all_values()
print(data)

C:\Users\nehal\AppData\Local\Temp/ipykernel_16136/2790348872.py:18: DeprecationWarning: [Deprecated][in version 6.0.0]: Method signature's arguments 'range_name' and 'values' will change their order. We recommend using named arguments for minimal impact. In addition, the argument 'values' will be mandatory of type: 'List[List]'. (ex) Worksheet.update(values = [[]], range_name=)
  worksheet.update("D{}".format(row_number), [[update_data[3]]])  # Update the Marks

Data updated successfully.
[['Name', 'Roll', 'Subject', 'Marks'], ['Ali Mohammad', '101', 'Math ', '85'], ['Ali Mohammad', '101', 'Physics', '78'], ['Ali Mohammad', '101', 'Biology', '92'], ['Ali Mohammad', '101', 'Geography', '75'], ['Ali Mohammad', '101', 'Computer Science', '88'], ['Ali Mohammad', '101', 'Islamic History', '87'], ['Ali Mohammad', '101', 'Chemistry', '89'], ['Ali Mohammad', '101', 'English', '95'], ['Ahmed', '102', 'Math ', '86'], ['Ahmed', '102', 'Physics', '84'], ['Ahmed', '102', 'Biology', '82'], ['Ahmed', '102', 'Geography', '86'], ['Ahmed', '102', 'Computer Science', '94'], ['Ahmed', '102', 'Islamic History', '89'], ['Ahmed', '102', 'Chemistry', '89'], ['Ahmed', '102', 'English', '85']]

In [11]:
# Creating dataframe
df = pd.DataFrame(data[1:], columns=data[0])
df

            Name Roll           Subject Marks
0   Ali Mohammad  101             Math     85
1   Ali Mohammad  101           Physics    78
2   Ali Mohammad  101           Biology    92
3   Ali Mohammad  101         Geography    75
4   Ali Mohammad  101  Computer Science    88
5   Ali Mohammad  101   Islamic History    87
6   Ali Mohammad  101         Chemistry    89
7   Ali Mohammad  101           English    95
8          Ahmed  102             Math     86
9          Ahmed  102           Physics    84
10         Ahmed  102           Biology    82
11         Ahmed  102         Geography    86
12         Ahmed  102  Computer Science    94
13         Ahmed  102   Islamic History    89
14         Ahmed  102         Chemistry    89
15         Ahmed  102           English    85